@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  background: rgb(2, 13, 29);
  background: linear-gradient(
    180deg,
    rgba(2, 13, 29, 1) 0%,
    rgba(24, 30, 44, 1) 100%
  );
}
