@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "digital-7";
  src: local("digital-7"), url("./fonts/digital-7.ttf") format("truetype");
}

html {
  background: rgb(2, 13, 29);
}

.countdown {
  font-family: "digital-7";
  font-size: 1.5rem;
}
